@page "/users"
@using _01_SqlInjectionApp.IdentityProvider.Api
@using _01_SqlInjectionApp.Users.Infrastructure
@inject UsersProxyClient UsersClient

<h3>Users</h3>

@if (users is null)
{
  <p><em>Loading...</em></p>
}
else
{
  <ul>
    @foreach (var user in users)
    {
      <li @onclick="() => SelectUser(user)">
        @user.Name
      </li>
    }
  </ul>

  @if (selectedUser is not null)
  {
    <h4>Details</h4>
    <p>ID: @selectedUser.Id</p>
    <p>Name: @selectedUser.Name</p>
    <p>Name: @selectedUser.FirstName</p>
    <p>Name: @selectedUser.Email</p>
  }
}

@code {
  private List<UserDto>? users;
  private UserDto? selectedUser;

  protected override async Task OnInitializedAsync()
  {
    users = await UsersClient.SearchAsync();
  }

  private void SelectUser(UserDto user) => selectedUser = user;
}
